*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2;
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.display-table{
    display: inline-block;
    background-color: rgb(165, 228, 228);
    min-height: 50vh;
    min-width: 90vh;
}